---
import { getCollection } from "astro:content";
import Articulos from "../../components/Articulos.astro";
import Layout from "../../layout/Layout.astro";
import HeroHtml from "../../sections/HeroHtml.astro";
import { Icon } from "astro-icon/components";
const blogEntries = await getCollection("blog");

type TagType = "html" | "css" | "javascript";

async function filterByTag(tag: TagType) {
    return (
        await getCollection("blog", ({ data }) => data.tags.includes(tag))
    ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
}

async function generateFilteredArray() {
    const tags: TagType[] = ["html", "css", "javascript"];

    const filteredEntries = await Promise.all(
        tags.map(async (tag) => {
            const posts = await filterByTag(tag);
            return posts.length > 0 ? { tag, posts } : null;
        }),
    );

    return filteredEntries.filter((entry) => entry !== null);
}

const FilterPost = await generateFilteredArray();
---

<Layout
    title={`${blogEntries[0].collection}`}
    description="Articulos del curso de Html por Enrique Calero"
>
    <HeroHtml />
    {
        FilterPost.map(({ tag, posts }) => (
            <section id={`section-${tag.toLocaleLowerCase()}`} class="wrapper-layout padding-section">
                <header>
                    <h2 class="title-section text-center" id="Articulos">
                        Aprende {tag}
                    </h2>
                </header>
                <div class="carrusel-blogs">
                    <button class="carrusel-blogs__btnPrev">
                        <Icon name="ArrowIcon" size={18} />
                    </button>
                    <ul class="carrusel-blogs__track">
                        {posts.map((entry) => {
                            return (
                                <li>
                                    <Articulos
                                        {...entry.data}
                                        slug={entry.slug}
                                        collection={entry.collection}
                                    />
                                </li>
                            );
                        })}
                    </ul>
                    <button class="carrusel-blogs__btnNext">
                        <Icon name="ArrowIcon" size={18} />
                    </button>
                </div>
            </section>
        ))
    }
</Layout>

